<% if params[:id] == "1" %>
  <div id="header" class="header1">
    <%= image_tag('in_flux_logo_water.gif', style:'position:absolute;left:80px;top:20px')%>
    <div style="display:inline-block;position:absolute;left:400px;top:62px">
      <h1><em style="color:white">A Barbershop Quartet</em></h1>
    </div>
  </div>
<% end %>

<% if params[:id] == "2" %>
  <div id="header" class="header2">
    <%= image_tag('in_flux_logo_water.gif', style:'position:absolute;left:80px;top:20px')%>
    <div style="display:inline-block;position:absolute;left:400px;top:62px">
      <h1><em style="color:white">A Barbershop Quartet</em></h1>
    </div>
    <%= image_tag('notes.gif', width:300, height:90, style:"position:absolute;left:880px;top:5px") %>
  </div>
<% end %>


<% if params[:id] == "3" %>
  <div id="header" class="header2">
    <%= image_tag('in_flux_logo_water.gif', style:'position:absolute;left:80px;top:20px')%>
    <div style="display:inline-block;position:absolute;left:880px;top:48px">
      <h1><em style="color:white">A Barbershop Quartet</em></h1>
    </div>
    <%= image_tag('notes.gif', width:300, height:90, style:"position:absolute;left:480px;top:5px") %>
  </div>
<% end %>

<% if params[:id] == "4" %>
  <div id="header" class="header4">
    <%= image_tag('in_flux_logo_water.gif', style:'position:absolute;left:80px;top:20px')%>
    <%= image_tag('notes_smaller3.gif', width:120, height:50, style:"position:absolute;left:620px;top:25px") %>
    <div style="display:inline-block;position:absolute;left:400px;top:62px">
      <h1><em style="color:white">A Barbershop Quartet</em></h1>
    </div>
  </div>
<% end %>



<% if params[:id] == "5" %>
  <div id="header" class="header4">
    <%= image_tag('in_flux_logo_water.gif', style:'position:absolute;left:80px;top:20px')%>
    <div style="display:inline-block;position:absolute;left:400px;top:62px">
      <h1><em style="color:white">A Barbershop Quartet</em></h1>
    </div>
    <%= image_tag('notes_smaller3.gif', width:120, height:50, style:"position:absolute;left:622px;top:39px") %>
  </div>
<% end %>

<% if params[:id] == "6" %>
  <div id="header" class="header4">
    <%= image_tag('in_flux_logo_water.gif', style:'position:absolute;left:80px;top:20px')%>
    <%= image_tag('notes_smaller3.gif', width:120, height:50, style:"position:absolute;left:713px;top:25px") %>
    <div style="display:inline-block;position:absolute;left:400px;top:62px">
      <h1><em style="color:white">A Barbershop Quartet</em></h1>
    </div>
  </div>
<% end %>

