<!DOCTYPE html>
<html>
<head>
  <title>Influxquartet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    body {
      overflow:hidden;
      margin:0px;
      padding:0px;
      box-sizing:border-box;
    }
  </style>
</head>
<body>
<div id="full-container" class="full-container">
  <%= render 'layouts/header' %>

  <div id="main-container" class="main-container">
    <div class="left-column">
      <ul>
        <li><a href="1">Page 1</a></li>
        <li><a href="2">Page 2</a></li>
        <li><a href="3">Page 3</a></li>
      </ul>
    </div>
    <div id="main" class="main">
      <%= yield %>
    </div>
    <div class="right-column">right column</div>
  </div>
</div>

</body>
</html>
